@font-face {
  font-family: boston;
  src: url(./fonts/BOSTON\ CAPS.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 2px solid hsl(0, 100%, 50%); */
}
body {
  background-color: hsla(0, 0%, 0%, 0.992);
  background-image: url(./images/backGround.png);
  overflow: hidden;
}
#mainContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 58px;
}

.container {
  display: flex;
}

.main {
  height: 25vh;
  width: 50vw;
  flex-direction: column;
  gap: 4vh;
}

.uiChoice {
  width: 50vw;
  height: 25vh;
  justify-content: space-around;
}
.score {
  justify-content: space-around;
  font-family: "boston", sans-serif;
  font-size: 1.3em;
  color: #000000;
}

.result {
  width: 50vw;
  height: 25vh;
  flex-direction: column;
  justify-content: space-around;
  font-family: "boston", sans-serif;
  font-size: 1.2em;
}
.playAgain button {
  font-family: "boston", sans-serif;
  color: rgba(0, 0, 0);
  font-size: 3rem;
  padding: 6px 12px;
  background-color: transparent;
  animation: fade-inout 2s infinite alternate;
  border-radius: 5em;
}

.playAgain {
  display: flex;
  color: #ffffff;
  justify-content: center;
}
.gameResult,
.endGame {
  text-align: center;
  font-size: 2em;
}

@keyframes fade-inout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.chooseWeapon {
  animation: fade-inout 3s infinite alternate;
  font-size: 3em;
  text-align: center;
  color: #000000;
}
.score,
.chooseWeapon,
.playAgain > button,
.gameResult,
.endGame {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #5bd247, 0 0 15px #5bd247,
    0 0 20px #5bd247, 0 0 25px #063d09;
}
button {
  background-color: transparent;
  border: none;
}
img {
  height: 25vh;
  filter: drop-shadow(0 0 0.75rem #063d09) drop-shadow(0 0 0.75em #063d09);
  transition: 0.3s;
}

img:hover {
  height: 27vh;
  filter: drop-shadow(0 0 0.9rem #5bd247) drop-shadow(0 0 0.9em #063d09);
}
