* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 2px solid hsl(0, 100%, 50%); */
}
#mainContainer {
  /* background-image: url(./images/backGround.png); */
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}


.container {
  display: flex;
  color: #063d09;
}

.main {
  height: 25vh;
  width: 50vw;
  flex-direction: column;
  gap: 5vh;
}

.uiChoice {
  width: 50vw;
  height: 25vh;
  justify-content: space-around;
}
.score {
  justify-content: space-around;
}

.result {
  width: 50vw;
  height: 20vh;
  flex-direction: column;
  justify-content: space-around;
}

.gameResult,
.endGame {
  text-align: center;
  font-size: 2em;
}
button{
  background-color: transparent;
  border: none;
}
img {
  height: 25vh;
}